<%- include('../partials/header') %>
<style>
  body {
    background-color: #fff !important;
  }
</style>
<div class="container" style="margin-top: 40px;">
    <div class="container">
        <img src="<%= blog.blogImage %>" class="img-fluid" alt="<%= blog.blogTitle %>"><br><br>
        <h3><%= blog.blogTitle %></h3>
        <em><%= moment(blog.createdAt).fromNow() %></em><br><br>
        <p><%- blog.blogDescription %></p>
        <h6 class="h6">~by <%= blog.blogAuthor %></h6>
    </div>
</div><br><br>

<%- include('../partials/footer') %>
