<%- include('./partials/header') %>

<section class="container-fluid bg-light p-5">
    <div class="container">
        <div class="card mb-3 bg-light" style="max-width: 900px; border: none;">
            <div class="row g-0">
                <div class="col-md-3">
                    <img class="img-fluid rounded" src="<%= people.image %>" alt="<%= people.name %>">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h1 class="card-title" style="font-family: Georgia, serif; font-weight: bold"><%= people.name %></h1>
                        <p class="card-text pb-3"><em class="text-muted"><%= people.field %></em></p>
                        <p class="card-text lead p-big" style="font-family: serif;"><%= people.description %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container">
    <h2 class="py-5" style="font-family: Georgia, serif; font-weight: bold">Recommendation List</h2>
    <% for(let book of books) { %>
        <div class="card mb-3" style="max-width: 540px; border: none; background-color: #eee;">
            <div class="row g-0">
                <a href="<%= book.Buylink %>" target="_blank" class="col-md-4">
                    <img class="img-fluid img-floating" src="<%= book.image %>" alt="<%= book.name %>">
                </a>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" style="font-family: Georgia, serif; font-weight: bold"><%= book.title %> <a href="/allBooks/<%= book.category %>" style="text-decoration: none;"><em class="text-muted">(<%= book.category.replace('_', ' ') %>)</em></a></h5>
                        <p class="card-text text-muted"><em>by <%= book.author %></em> - <%= book.publishedDate %></p>
                        <p class="card-text text-muted">
                            <% if(book.rating == 0.5) { %>
                                <h6>
                                    <i class="fas fa-star-half" style="color: black"></i>
                                    (<%= book.rating %>)
                                </h6>
                            <% } else if(book.rating >= 1 && book.rating <= 1.4) { %>
                                <h6>
                                    <i class="fas fa-star" style="color: black"></i>
                                  (<%= book.rating %>)
                                </h6>
                            <% } else if(book.rating >= 1.5 && book.rating <= 1.9) { %>
                                <h6>
                                    <i class="fas fa-star" style="color: black"></i>
                                    <i class="fas fa-star-half" style="color: black"></i>
                                  (<%= book.rating %>)
                                </h6>
                            <% } else if(book.rating >= 2 && book.rating <= 2.4) { %>
                                <h6>
                                    <i class="fas fa-star" style="color: black"></i>
                                    <i class="fas fa-star" style="color: black"></i>
                                  (<%= book.rating %>)
                                </h6>
                            <% } else if(book.rating >= 2.5 && book.rating <= 2.9) { %>
                                <h6>
                                    <i class="fas fa-star" style="color: black"></i>
                                    <i class="fas fa-star" style="color: black"></i>
                                    <i class="fas fa-star-half" style="color: black"></i>
                                  (<%= book.rating %>)
                                </h6> 
                            <% } else if(book.rating >= 3 && book.rating <= 3.4) { %>
                                <h6>
                                    <i class="fas fa-star" style="color: black"></i>
                                    <i class="fas fa-star" style="color: black"></i>
                                    <i class="fas fa-star" style="color: black"></i>
                                  (<%= book.rating %>)
                                </h6>  
                            <% } else if(book.rating >= 3.5 && book.rating <= 3.9) { %>
                                <h6>
                                    <i class="fas fa-star" style="color: black"></i>
                                    <i class="fas fa-star" style="color: black"></i>
                                    <i class="fas fa-star" style="color: black"></i>
                                    <i class="fas fa-star-half" style="color: black"></i>
                                  (<%= book.rating %>)
                                </h6>
                            <% } else if(book.rating >= 4 && book.rating <= 4.4) { %>
                                <h6>
                                    <i class="fas fa-star" style="color: black"></i>
                                    <i class="fas fa-star" style="color: black"></i>
                                    <i class="fas fa-star" style="color: black"></i>
                                    <i class="fas fa-star" style="color: black"></i>
                                  (<%= book.rating %>)
                                </h6>        
                            <% } else if(book.rating >= 4.5 && book.rating <= 4.9) { %>
                                <h6>
                                    <i class="fas fa-star" style="color: black"></i>
                                    <i class="fas fa-star" style="color: black"></i>
                                    <i class="fas fa-star" style="color: black"></i>
                                    <i class="fas fa-star" style="color: black"></i>
                                    <i class="fas fa-star-half" style="color: black"></i>
                                  (<%= book.rating %>)
                                </h6>    
                            <% } else { %> 
                                <h6>
                                    <i class="fas fa-star" style="color: black"></i>
                                    <i class="fas fa-star" style="color: black"></i>
                                    <i class="fas fa-star" style="color: black"></i>
                                    <i class="fas fa-star" style="color: black"></i>
                                    <i class="fas fa-star" style="color: black"></i>
                                  (<%= book.rating %>)
                                </h6>
                            <% } %>            
                        </p>
                        <p class="card-text lead" style="font-family: serif;"><%= book.description.substring(0, 100) %>...</p>
                        <div>
                            <a href="<%= book.Buylink %>" target="_blank" class="btn btn-info" style="color:#fff">Buy On Amazon</a>
                            <a href="/allBooks/<%= book.category %>/<%= book.slug %>" class="btn btn-secondary" style="color:#fff">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div><hr><br>
    <% } %> 
</section>

<%- include('./partials/footer') %>